*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
}

.box{
    margin: 100px auto;
    height: 100px;
    width: 100px;
    transition-property: background-color, border-radius;
    background-color: teal;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: steps(4);
}

.box:hover{
    background-color: white;
    border-radius: 50%;
}