.container{
    background-color: black;
    width: 80vw;
    height: 60vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    flex-wrap: wrap;
}

.item{
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 10px;
}