/* navbar */
nav{
    display: flex;
    justify-content: space-between;
}

nav>img {
    width: 200px;
    height: 50px;
}

nav>ul{
    display: flex;
    /* justify-content: right; */
}

ul>li{
    list-style: none;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

/* main */
.main-description{
    text-align: center;
}

section>img{
    width: 50%;
    position: relative;
    /* margin-left: 25%; */
}

.main-content{
    /* width: 80%; */
    text-align: justify;
    margin:auto;
    padding: 10px;
}

main{
    border: 1px solid black;
    margin: 100px;
    padding: 50px 100px;
}

/* aside */
aside{
    border: 1px solid black;
    padding: 20px;
    width: 300px;
}

ol>li{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
